@model IEnumerable<HSE.Contest.ClassLibrary.DbClasses.Administration.User>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-area="Administration" asp-controller="Groups" asp-action="Index">Управление группами</a>
</p>

<p>
    <a asp-area="Administration" asp-controller="CodeStyleRules" asp-action="Index">Управление настройками код-стайла</a>
</p>

<h1>Управление пользователями</h1>
<p>
    <a asp-action="Create">Создать нового пользователя</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Логин
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
