@model IEnumerable<TaskViewModel>

@{
    ViewData["Title"] = "Текущие задачи";
}

<h1>Текущие задачи</h1>
<div id="app"></div>



@section Scripts{
    <script>
        let tasks = @Html.Raw(Json.Serialize(Model));
        new Vue({
            el: '#app',
            data: {
                tasks: tasks,
            },            
            template: `
                <div>
                <a-list itemLayout="horizontal" :dataSource="tasks">
                    <a-list-item slot="renderItem" slot-scope="item, index">
                             <a :href="'./SendStudentSolution?id=' + item.id" slot="actions">send solution</a>
                        <a-list-item-meta :description="item.description">
                            <label slot="title">{{item.name}}</label>
                        </a-list-item-meta>
                    </a-list-item>
                </a-list>               
            </div>
                `,
        });
    </script>
}