@model IEnumerable<CodeStyleRecordViewModel>

@{
    ViewData["Title"] = "Текущие правила код-стайла";
}
@section ManageGroups{
    @Html.RouteLink("Manage Groups", new { controller = "Groups", action = "Index", area = "Administration" })
}

@section ManageTasks{
    @Html.RouteLink("Manage Tasks", new { controller = "Professor", action = "Index", area = "TestingSystem" })
}

<h1>Текущие правила код-стайла</h1>
<div id="app"></div>



@section Scripts{
    <script>
        let records = @Html.Raw(Json.Serialize(Model));
        new Vue({
            el: '#app',
            data: {
                records: records,
            },
            methods: {
                redirect: function (id) { document.location.href = './DeleteRecord?id=' + id;}
            },
            template: `
                <div>
                <a-list itemLayout="horizontal" :dataSource="records">
                    <a-list-item slot="renderItem" slot-scope="item, index">
                            <a :href="'./ChangeRecord?id=' + item.id" slot="actions">edit</a>
                            <a-popconfirm slot="actions"
                                title="Sure to delete?"
                                @@confirm="redirect(item.id)"
                                >
                                    <a-button type="link">delete</a-button>
                            </a-popconfirm>
                        <a-list-item-meta :description="item.description">
                            <label slot="title">{{item.name}}</label>
                        </a-list-item-meta>
                    </a-list-item>
                </a-list>
                <a href="./CreateNewRecord">
                    <a-button type="dashed" block>
                        <a-icon type="plus" /> Добавить новые правила
                    </a-button>
                </a>
            </div>
                `,
        });
    </script>
}