@model string

@{
    ViewData["Title"] = "Сменить пароль";
}
@section Back{
    @Html.RouteLink("Back", new { controller = "Users", action = "AllUsers", area = "Administration" })
}
@section ManageGroups{
    @Html.RouteLink("Manage Groups", new { controller = "Groups", action = "Index", area = "Administration" })
}

@section ManageCodeStyle{
    @Html.RouteLink("Manage CodeStyle", new { controller = "CodeStyleRules", action = "Index", area = "Administration" })
}

<h1>Сменить пароль</h1>
<div id="app"></div>



@section Scripts{
    <script>
        let id = @Html.Raw(Json.Serialize(Model));
        new Vue({
            el: '#app',
            data: {
                id: id,
                password: "",
            },
            methods: {
                send: function () {
                    var http = new XMLHttpRequest();
                    var url = './ChangePassword';
                    var data = 'id=' + encodeURIComponent(this.id) + '&newPassword=' + encodeURIComponent(this.password);

                    http.open('POST', url, true);

                    //Send the proper header information along with the request
                    http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                    var that = this;
                    http.onreadystatechange = function () {//Call a function when the state changes.
                        if (http.readyState == 4 && http.status == 200) {
                            const response = JSON.parse(http.responseText);
                            if (response.status != 'error') {
                                document.location.href = response.data;
                            }
                            else {
                                that.$message.error('An error occured. Try again! Error: ' + response.data);
                            }
                        }
                    }
                    http.send(data);
                },
            },
            template: `
             <div>
                <a-form>
                    <a-form-model-item label="Новый пароль">
                        <a-input type="test" v-model="password" />
                    </a-form-model-item>
                    <a-form-model-item>
                    <a-popconfirm
                        title="Sure to update?"
                        @@confirm="send"
                    >
                        <a-button type="link">Изменить</a-button>
                    </a-popconfirm>
                    </a-form-model-item>
                </a-form>
            </div>
                `,
        });
    </script>
}